/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NAV     1
#define ETC     2
#define NUM	3

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ { 

/*
*    combos {
*        compatible = "zmk,combos";
*        combo_esc {
*            timeout-ms = <50>;
*            key-positions = <0 1>;
*            bindings = <&kp ESC>;
*        };
*        
*         combo_tab {
*            timeout-ms = <50>;
*            key-positions = <10 11>;
*            bindings = <&kp TAB>;
*        };
*       
*
*   };
*/

        keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q       &kp W    &kp F    &kp P    &kp B    				&kp J &kp L  &kp U    &kp Y   &kp SEMI
		&kp A       &kp R    &kp S    &kp T    &kp G 			               	&kp M &kp N  &kp E    &kp I   &kp O
		&mt LSFT Z  &kp X    &kp C    &kp D    &kp V				        &kp K &kp H  &kp CMMA &kp DOT &kp SLASH
          				      &kp LSFT &kp SPACE  				&kp BSPC &to NAV 
		>;
		};

       		nav_layer {
		bindings = <
		&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_CLR     &kp LA(TAB)	        &kp LC(A)    &kp LC(V)    &kp LC(C)     &kp LC(X)   &to ETC 
		&kp LWIN    &kp LALT    &kp LCTRL      &kp LSHIFT   &kp HASH                    &kp CAPS     &kp LEFT      &kp UP      &kp DOWN  &kp RIGHT 
		&trans    &trans 	&trans &kp DEL  &trans   	                        &kp INSERT   &kp HOME     &kp PG_DN     &kp PG_UP   &kp END 
					 &kp RET     &to DEFAULT				                    &kp LC(BSPC)      &to NUM 
		>;
		};
		
		etc_layer {
		bindings = <
		&kp BANG  &kp ATSN &kp HASH  &kp DLLR  &kp PRCT    			&kp CRRT  &kp AMPS &kp KMLT &kp LPRN &kp RPRN 
		&kp HASH  &kp QMARK  &kp FSLH  &kp COLN  &kp SCLN 			&kp TILDE &kp APOS  &kp LBRC  &kp RBRC   &kp BKSP
		&kp LSFT  &kp KPLS &kp LBKT &kp RBKT   &kp BSLH    			&kp UNDER &kp LEFT &kp DOWN &kp UP  &kp RIGHT
					  &kp SPC &to DEFAULT  				&kp BSPC  &to NUM
		>;
		};	
		
		num_layer {
		bindings = <
		&kp TILDE  &kp SQT    &kp DQT    &kp PIPE    &kp KP_NUM	         	&kp MINUS &kp PLUS   &kp STAR   &kp EQUAL  &kp FSLH
		&kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR  				&kp N6    &kp N7     &kp N8     &kp N9    &kp N0 
		&kp EXCL  &kp AT &kp HASH &kp DOLLAR &kp PERCENT   			&kp N1 	  &kp N2     &kp N3     &kp N4    &kp N5   
					 &kp QMARK   &to DEFAULT  			&kp BSPC &kp DOT 
		>;
		};	
        
	};
};
